@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
/* font-family: 'Nanum Gothic', sans-serif; */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#section_head {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../images/main.jpg) no-repeat center / 100% 100%;
}

#section_head .header {
  float: right;
  width: 904px;
  height: 408px;
  background-color: #000;
  transform: rotate(30deg);
  position: fixed;
  top: -167px;
  right: -182px;

  -o-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-​transform: rotate(30deg);
  -ms-transform: rotate(30deg);

}

#section_head .header .logo {
  color: #fff;
  float: left;
  font-size: 46px;
  position: fixed;
  top: 68%;
  left: 16%;
  transform: rotate(-30deg);
  font-weight: bold;
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-​transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -ms-top: 68%;
}

#section_head input {
  display: block;
  width: 318px;
  float: right;
  font-size: 26px;
  position: fixed;
  top: 34%;
  left: 39%;
  transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-​transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
}

#section_head ul {
  float: left;
  position: fixed;
  top: 153px;
  left: 402px;
  transform: rotate(-91deg);
  width: 25%;
  -o-transform: rotate(-91deg);
  -webkit-transform: rotate(-91deg);
  -moz-​transform: rotate(-91deg);
  -ms-transform: rotate(-91deg);
}

#section_head ul li {
  border-top: 2px solid #fff;
  height: 71px;
  transform: rotate(62deg);
  text-indent: 47px;
  color: #fff;
  font-size: 19px;
  -o-transform: rotate(62deg);
  -webkit-transform: rotate(62deg);
  -moz-​transform: rotate(62deg);
  -ms-transform: rotate(62deg);

}

#section_head ul li::after {
  content: '';
  width: 20%;
  height: 44%;
  position: absolute;
  left: 3%;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: skewX(62deg);
  transition: 0.2s;
  opacity: 0;
  -o-transform: skewX(62deg);
  -webkit-transform: skewX(62deg);
  -moz-​transform: skewX(62deg);
  -ms-transform: skewX(62deg);
}



#section_head ul li:hover::after {
animation: after 1s 0.7 both;
-o-animation: after 1s 0.7 both;
-webkit-animation: after 1s 0.7 both;
-moz-​animation: after 1s 0.7 both;
-ms-animation: after 1s 0.7 both;
}
@keyframes after {
  0%{
    opacity: 1;
  }
  1%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 100%;
  }

}

#section_head ul li a {
  position: absolute;
  color: #fff;
  font-size: 19px;
  width: 100%;
  height: 49%;

}
#section_head ul li.a{
  width: 100%;
  font-size: 19px;
  text-indent: 32%;

}

.icon {
  color: #fff;
  float: left;
  font-size: 38px;
  position: absolute;
  top: 6%;
  left: 90%;
  transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-​transform: rotate(1deg);
  -ms-transform: rotate(1deg);
}
